body {
    background-image: url('../static/bg.png')
}

nav {
    background-color: rgb(31, 31, 31);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.795);
}

nav a {
    color: white;
    font-family: 'Lobster'
}

.brand-logo {
    width: 40px;
    margin-right: 20px;
    filter: invert(100%)
}

/* -------------------------------------------------------------- container */

.container-fluid {
    margin-top: 20px;
    padding: 0 100px;
    margin-top: 100px;
}

/* -------------------------------------------------------------- iframe */



/* -------------------------------------------------------------- landing page */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.landing-page {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
    animation: fadein 2s;
    border-radius: 7px;
}

.brand-banner {
    background-image: url('../static/banner-bg.jpg');
    background-size: cover;
    border-radius: 7px 0 0 7px;
    padding: 0;
}

.banner-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 7px 0 0 7px;
}

.banner-layer img {
    width: 40%;
}

.user-gate {
    background-color: rgb(224, 224, 221);
    padding: 40px;
    border-radius: 0 7px 7px 0;
}

.form-signin input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(109, 108, 108);
    margin-bottom: 10px;
    font-family: 'Oswald'
}

.form-signin {
    width: 100%;
}

.form-signup input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    margin-bottom: 10px;
}

.landing-page h3 {
    font-family: 'Oswald';
    margin-bottom: 50px;
    font-size: 40px;
}

.form-signin button {
    margin-top: 20px;
    background-color: #ecd800;
    border: #615a0c;
    color: rgb(255, 255, 255)
}

.landing-page h4 {
    font-family: 'Oswald';
    font-size: 20px;
}

.signup h5 {}